jasper2-master.zip
# OS X
.DS_Store

# Jekyll build
/_site/
.jekyll-metadata
#Gemfile.lock

# webstorm
.idea/

# others
*.swp
package-lock.json

# site build
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
vendor
Gemfile.lock
node_modules
assets/_jasper2_-dark-css.css
_posts/2012-09-23-a-full-and-comprehensive-style-test.html

# Pictures that *may* one day be useful for the home row mods guide but aren't actually used
# and thus don't deserve to bloat the git history
assets/images/home-row-mods/RealisticHRM-Dark-Cover-Miryoku.jpeg
assets/images/home-row-mods/RealisticHRM-Dark-SideLegends-Miryoku.png
assets/images/home-row-mods/RealisticHRM-Light-Cover-Miryoku.jpeg
